<div class="card">
    <div class="p-grid">

        <!-- #region listParis -->
        <div class="p-col-7">
            <div class="box">
                <div class="p-grid p-flex-column">
                    <div class="p-col">
                        <div class="box">
                            <p-panel header="Football">
                                <ng-template pTemplate="icons">
                                    <i class="pi pi-bell p-mr-4 p-text-secondary" pBadge style="font-size: 2rem"
                                       value="45"></i>
                                </ng-template>
                                <p-virtualScroller [value]="responsiveOptions" scrollHeight="800px">
                                        <ng-template let-product pTemplate="item" let-i="index">
                                            <div class="product-item">
                                                <div class="image-container">
                                                    <img src="../../assets/images/bracelet.jpg" class="product-image" />
                                                </div>
                                                <div class="product-list-detail">
                                                    <h5 class="p-mb-2">{{product.equipe}}</h5>
                                                    <i class="pi pi-tag product-category-icon"></i>
                                                    <span class="product-category">{{product.cat}}</span>
                                                </div>
                                                <div class="center">
                                                    <p-selectButton [options]="product.cote" name="index" id="index" [(ngModel)]="value2"
                                                                    multiple="multiple" optionLabel="cote" optionValue="value"></p-selectButton>
                                                </div>
                                                <div class="product-list-action">
                                                    <h6 class="p-mb-2">{{product.heure}}</h6>
                                                    <!-- <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product}}</span> -->
                                                    <span [class]="'product-badge '">{{product.date}}</span>
                                                </div>
                                            </div>
                                        </ng-template>

                                </p-virtualScroller>
                            </p-panel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #endergion -->

        <!-- #region panier -->
        <div class="p-col-5" >
            <div class="box">
                <div class="p-grid p-flex-column">
                    <div class="p-col">
                        <div class="box">
                            <p-panel header="Panier">
                                    <ng-template pTemplate="icons">
                                        <i class="pi pi-bell p-mr-4 p-text-secondary" pBadge style="font-size: 2rem"
                                            value="2"></i>
                                    </ng-template>
                                    <p-scrollPanel [style]="{width: '100%', height: '500px'}">
                                    <div class="p-grid p-flex-column">
                                        <div class="p-col">
                                            <div class="box">
                                                <div class="product-item">
                                                    <div class="image-container">
                                                        <img src="../../assets/images/bracelet.jpg"
                                                            class="product-image" />
                                                    </div>
                                                    <div class="product-list-detail">
                                                        <h5 class="p-mb-2">Manchester United - Leicester City</h5>
                                                        <i class="pi pi-tag product-category-icon"></i>
                                                        <span class="product-category">Angleterre - Premier
                                                            League</span>
                                                    </div>

                                                    <div class="product-list-action">
                                                        <h6 class="p-mb-2">15h:26</h6>
                                                        <!--<span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product}}</span>-->
                                                        <span [class]="'product-badge '">Demain</span>
                                                    </div>
                                                </div>
                                                <p-divider></p-divider>
                                                <div class="p-grid">
                                                    <div class="p-col">
                                                        <div class="box">Cote - 4,96 </div>
                                                    </div>
                                                    <div class="p-col">
                                                        <div class="box">
                                                            <p-inputNumber [(ngModel)]="value18" [showButtons]="true"
                                                                buttonLayout="horizontal"
                                                                spinnerMode="horizontal" [step]="0.25"
                                                                decrementButtonClass="p-button-danger"
                                                                incrementButtonClass="p-button-success"
                                                                incrementButtonIcon="pi pi-plus"
                                                                decrementButtonIcon="pi pi-minus" mode="currency"
                                                                currency="EUR">
                                                            </p-inputNumber>
                                                        </div>
                                                    </div>
                                                    <div class="p-col">
                                                        <div class="box">Gains - 992 euro</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-col">
                                            <div class="box">
                                                <div class="product-item">
                                                    <div class="image-container">
                                                        <img src="../../assets/images/bracelet.jpg"
                                                            class="product-image" />
                                                    </div>


                                                    <div class="product-list-detail">
                                                        <h5 class="p-mb-2">Manchester United - Leicester City</h5>
                                                        <i class="pi pi-tag product-category-icon"></i>
                                                        <span class="product-category">Angleterre - Premier
                                                            League</span>
                                                    </div>

                                                    <div class="product-list-action">
                                                        <h6 class="p-mb-2">15h:26</h6>
                                                        <span [class]="'product-badge '">Demain</span>
                                                    </div>
                                                </div>
                                                <p-divider></p-divider>
                                                <div class="p-grid">
                                                    <div class="p-col">
                                                        <div class="box">Cote - 4,96 </div>
                                                    </div>
                                                    <div class="p-col">
                                                        <div class="box">
                                                            <p-inputNumber [(ngModel)]="value18" [showButtons]="true"
                                                                buttonLayout="horizontal"
                                                                spinnerMode="horizontal" [step]="0.25"
                                                                decrementButtonClass="p-button-danger"
                                                                incrementButtonClass="p-button-success"
                                                                incrementButtonIcon="pi pi-plus"
                                                                decrementButtonIcon="pi pi-minus" mode="currency"
                                                                currency="EUR">
                                                            </p-inputNumber>
                                                        </div>
                                                    </div>
                                                    <div class="p-col">
                                                        <div class="box">Gains - 992 euro</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       <div class="p-col">
                                            <div class="box">
                                                <div class="product-item">
                                                    <div class="image-container">
                                                        <img src="../../assets/images/bracelet.jpg"
                                                            class="product-image" />
                                                    </div>


                                                    <div class="product-list-detail">
                                                        <h5 class="p-mb-2">Manchester United - Leicester City</h5>
                                                        <i class="pi pi-tag product-category-icon"></i>
                                                        <span class="product-category">Angleterre - Premier
                                                            League</span>
                                                    </div>

                                                    <div class="product-list-action">
                                                        <h6 class="p-mb-2">15h:26</h6>
                                                        <span [class]="'product-badge '">Demain</span>
                                                    </div>
                                                </div>
                                                <p-divider></p-divider>
                                                <div class="p-grid">
                                                    <div class="p-col">
                                                        <div class="box">Cote - 4,96 </div>
                                                    </div>
                                                    <div class="p-col">
                                                        <div class="box">
                                                            <p-inputNumber [(ngModel)]="value18" [showButtons]="true"
                                                                buttonLayout="horizontal"
                                                                spinnerMode="horizontal" [step]="0.25"
                                                                decrementButtonClass="p-button-danger"
                                                                incrementButtonClass="p-button-success"
                                                                incrementButtonIcon="pi pi-plus"
                                                                decrementButtonIcon="pi pi-minus" mode="currency"
                                                                currency="EUR">
                                                            </p-inputNumber>
                                                        </div>
                                                    </div>
                                                    <div class="p-col">
                                                        <div class="box">Gains - 992 euro</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-col">
                                            <div class="box">
                                                <p-card [style]="{ background:'#FFEEDB'}">
                                                    <div class="p-grid">
                                                        <div class="p-col-6"><h4 class="nomargin nopadding" style="text-align:center">Mise totale</h4></div>
                                                        <div class="p-col-6"><h4 class="nomargin nopadding" style="text-align:center">600 euro</h4></div>
                                                        <div class="p-col-6"><h4 class="nomargin nopadding" style="text-align:center">Gains potentiels</h4></div>
                                                        <div class="p-col-6"><h4 class="nomargin nopadding" style="text-align:center">3 068 euro</h4></div>
                                                    </div>
                                                    <p-button styleClass="p-mt-6" label="Placer mon pari" icon="pi pi-check" iconPos="right" [style]="{ width:'100%'}" ></p-button>
                                                </p-card>

                                            </div>
                                        </div>
                                    </div>
                                </p-scrollPanel>
                                </p-panel>



                        </div>
                    </div>
                    <div class="p-col">
                        <div class="box">
                            <div id="instructions">
                                <video id="my_video_1" class="video-js vjs-default-skin" width="100%" height="320"
                                    controls preload="none"
                                    poster='https://res.cloudinary.com/dy528ddbe/image/upload/v1620765937/funvncl4dphvbpjtmcnl.png'
                                    data-setup='{ "aspectRatio":"600:190", "playbackRates": [1, 1.5, 2] }'>
                                    <source
                                        src="https://res.cloudinary.com/dy528ddbe/video/upload/v1620765172/isve3ghvre8jsgdkhfgu.mp4"
                                        type='video/mp4' />
                                    <!--<source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' />-->
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #endregion -->
    </div>
</div>
