<div class="flex mt-4 grid">
    <div class="col-4">
        <div class="flip">
            <div class="front" style="background-image: url(assets/images/1.jpg)">
                <h1 class="text-shadow">SECURISE</h1>
            </div>
            <div class="back">
                <h2>Securisé</h2>
                <p>Obtenez des jeux fixes avec score correct maintenant. L'offre est ouverte à tous ceux qui veulent gagner en pariant sur des jeux à score fixe.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="flip">
            <div class="front" style="background-image: url(assets/images/2.jpg)">
                <h1 class="text-shadow">SIMPLE</h1>
            </div>
            <div class="back">
                <h2>Simple</h2>
                <p>Tout ce que vous avez à faire pour obtenir des jeux corrigés est de nous contacter, de rejoindre notre équipe, de vous inscrire et de gagner.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="flip">
            <div class="front" style="background-image: url(assets/images/3.png)">
                <h1 class="text-shadow">CONFIANT</h1>
            </div>
            <div class="back">
                <h2>Confiant</h2>
                <p>Les paris sportifs ont toujours suscité un grand intérêt parmi les personnes qui aiment jouer, regarder et apprécier le sport. Ici, nous proposons des choix qui feront de vous un véritable gagnant sportif </p>
            </div>
        </div>
    </div>
</div>