<div class="flex mt-4 grid">
    <div class="col-4">
        <div class="flip">
            <div class="front" style="background-image: url(assets/images/1.jpg)">
                <h1 class="text-shadow">SECURE</h1>
            </div>
            <div class="back">
                <h2>Angular</h2>
                <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="flip">
            <div class="front" style="background-image: url(assets/images/2.jpg)">
                <h1 class="text-shadow">SIMPLE</h1>
            </div>
            <div class="back">
                <h2>Angular</h2>
                <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="flip">
            <div class="front" style="background-image: url(assets/images/3.png)">
                <h1 class="text-shadow">TRUSTED</h1>
            </div>
            <div class="back">
                <h2>Angular</h2>
                <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
            </div>
        </div>
    </div>
</div>