<h4>Vous êtes sur le point de prendre un paris.</h4>
<p>Une fois confirmé, vous ne pourrez plus retirer votre mise.</p>
<h5>Vous avez {{ bet }} bets pour parier</h5>
<div *ngIf="match[0]">
  <div *ngIf="match[0].GameID">
    <div class="p-text-bold p-mb-2">
      Game ID: {{ match[0] ? match[0].GameID : '' }}
    </div>
    <div class="p-mb-2">{{ match[0].HomeTeam }} - {{ match[0].AwayTeam }}</div>
    <div class="p-mb-2">
      Vous allez parier
      <p-inputNumber
        [(ngModel)]="betAmount"
        mode="currency"
        [step]="0.25"
        currency="BET"
        [showButtons]="true"
      >
      </p-inputNumber>
      pour
      {{ config.data.bet.type === 1 ? match[0].HomeTeam : match[0].AwayTeam }}
    </div>
    <div class="p-mb-2">
      Cote de l'équipe
      {{
        config.data.type === 1
          ? match[0].HomeTeamMoneyLine
            ? match[0].HomeTeamMoneyLine
            : '0'
          : match[0].AwayTeamMoneyLine
          ? match[0].AwayTeamMoneyLine
          : '0'
      }}
    </div>
    <div class="p-mb-2">
      <button
        style="width: 100%"
        pButton
        pRipple
        type="button"
        label="VALIDER"
        class="p-button-raised p-button-warning"
        (onClick)="postBet()"
      ></button>
    </div>
  </div>
</div>
