<div class="box">
  <div class="p-grid p-flex-column">
    <div class="p-col">
      <div class="box">
        <p-panel header="Basketball">
          <ng-template pTemplate="header">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-angle-left"
              (click)="clickPreviousOrNext('previous')"
              class="p-button-rounded"
            ></button>
            <p-calendar
              #calendar
              [dateFormat]="'dd M yy'"
              [showIcon]="true"
              [(ngModel)]="date"
              (onSelect)="onSelectedDate($event)"
              inputId="basic"
            ></p-calendar>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-angle-right"
              (click)="clickPreviousOrNext('next')"
              class="p-button-rounded"
            ></button>
          </ng-template>
          <ng-template pTemplate="icons">
            <i
              class="pi pi-table p-mr-4 p-text-secondary"
              pBadge
              style="font-size: 2rem"
              value="{{ matches.length }}"
            ></i>
          </ng-template>

          <ng-template pTemplate="list">
            <div>
              <cdk-virtual-scroll-viewport
                [itemSize]="100"
                class="example-viewport"
              >
                <div *ngIf="loading">
                  <p-skeleton
                    styleClass="p-mb-2"
                    borderRadius="16px"
                  ></p-skeleton>
                  <p-skeleton
                    width="10rem"
                    styleClass="p-mb-2"
                    borderRadius="16px"
                  ></p-skeleton>
                  <p-skeleton
                    width="5rem"
                    styleClass="p-mb-2"
                    borderRadius="16px"
                  ></p-skeleton>
                  <p-skeleton
                    styleClass="p-mb-2"
                    borderRadius="16px"
                  ></p-skeleton>
                  <p-skeleton
                    width="10rem"
                    styleClass="p-mb-2"
                    borderRadius="16px"
                  ></p-skeleton>
                  <p-skeleton
                    width="5rem"
                    styleClass="p-mb-2"
                    borderRadius="16px"
                  ></p-skeleton>
                </div>

                <div *cdkVirtualFor="let match of matches">
                  <!-- eto -->

                  <div class="product-item">
                    <div class="image-container">
                      <img
                        alt="Image"
                        src="/assets/images/bracelet.jpg"
                        class="product-image"
                      />
                    </div>

                    <div class="product-list-detail">
                      <h5 class="p-mb-2">
                        {{ match.HomeTeam + " - " + match.AwayTeam }}
                      </h5>
                      <span
                        *ngIf="
                          ['Final', 'Canceled', 'F/OT'].includes(match.Status)
                        "
                        class="product-category"
                        >{{
                          (match.HomeTeamScore || 0) +
                            "-" +
                            (match.AwayTeamScore || 0)
                        }}</span
                      >
                    </div>

                    <div class="center">
                      <p-selectButton
                        [disabled]="
                          ['Final', 'Canceled', 'F/OT'].includes(match.Status)
                        "
                        (onOptionClick)="onClick()"
                        [options]="getMatchCotes(match)"
                        [(ngModel)]="value1"
                        multiple="multiple"
                        optionLabel="name"
                        optionValue="value"
                      ></p-selectButton>
                    </div>

                    <div class="product-list-action">
                      <p-tag [rounded]="true" [severity]="getSeverity(match)">{{
                        match.Status.toLowerCase()
                      }}</p-tag>
                      <span [class]="'product-badge'">{{
                        getDateTime(match.DateTime, "time") +
                          "-" +
                          getDateTime(match.Day, "date")
                      }}</span>
                    </div>
                  </div>

                  <!-- fin eto -->
                </div>
              </cdk-virtual-scroll-viewport>
            </div>
          </ng-template>
        </p-panel>
      </div>
    </div>
  </div>
</div>
