.container{
}

.content{
    margin-bottom: 5px;
}

.team-img {
    margin: auto;
    width: 100%;
}

.example-viewport-for-competitions {
    height: 150px;
    width: 100%;
    margin: auto;
    padding-right: 5px;
    margin-bottom: 5px !important;
}

.example-viewport {
    height: 750px;
    width: 100%;
    margin: auto;
    padding-right: 5px;
    background: transparent;
}

.product-item {
.product-item-content {
    border-radius: 3px;
    margin: .3rem;
    text-align: center;
    padding: 2rem 0;
}

.product-image {
    width: content-box;
    height: 100px;
}
}

.carousel-container{
    width: 100%;
}