    <div *ngIf="competitions|async as competitions; else loading" class="mb-2">
        <div *ngFor="let competition of competitions" class="custom-card mb-2"  >
            <a [routerLink]="['/foot']" [queryParams]="{competitionID:competition.id}" class="list"
               style="{{(queryParams|async)?.competitionID===competition.id.toString(10) ? 'color:#0e2031;' : ((!(queryParams|async)?.competitionID && competition.id===2002) ? 'color:#0e2031':'') }}">
                <div class="grid">
                    <div class="col-2">
                        <img src="{{competition.area.ensignUrl}}" class="flag"/>
                    </div>
                    <div class="col flex align-items-center">
                        {{competition.name}}
                    </div>
                </div>
            </a>
        </div>
    </div>

    <ng-template #loading>
        <app-skeleton-loading></app-skeleton-loading>
    </ng-template>
