<div class="flex-container" [ngClass]="{'loading': showLoader}">
    <form ngForm #formLogin (submit)="onSubmit();">
        <mat-card class="example-card">
            <!--<span class="login100-form-title p-b-49"> <img src="../../assets/images/logo.png"> </span>-->
            <div #logo class="logo" >
                <img src="../../../../assets/images/logo.png">
            </div>

            <!-- Field email -->
            <mat-form-field appearance="fill">
                <mat-label style="color: #AA8F66">Entrer votre adresse email</mat-label>
                <input matInput value="john@gmail.com" placeholder="pat@example.com" [formControl]="email" required autocomplete="" />
                <mat-error style="color: #CF021B" *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
            </mat-form-field>

            <!-- Field password-->
            <mat-form-field appearance="fill">
                <mat-label style="color: #AA8F66">Entrer votre mot de passe </mat-label>
                <input  matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required autocomplete="current-password"/>

                <!-- Password visible-->
                <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                </button>
                <!-- end password visible -->

                <mat-error style="color: #CF021B" *ngIf="password.invalid">{{
                    getPasswordErrorMessage()
                    }}</mat-error>
            </mat-form-field>

            <!-- Button login-->
            <button mat-raised-button disabled="{{ showLoader }}">
                <div class="submit-btn">
                    <mat-spinner [diameter]="20" *ngIf="showLoader"></mat-spinner> 
                    <span>CONNEXION</span>
                </div> 
            </button>

            <!-- TODO lien mot de passe oublié-->

        </mat-card>
    </form>
</div>
