<div class="flex-container" [ngClass]="{'loading': showLoader}">
    <form ngForm #loginForm="ngForm" (submit)="onSubmit();">
        <mat-card class="example-card">
            <div #logo class="logo" >
                <img src="../../../../assets/images/logo.png">
            </div>

            <!-- Field email -->
            <mat-form-field appearance="fill">
                <mat-label style="color: #AA8F66">Entrer votre adresse email</mat-label>
                <input matInput value="john@gmail.com" placeholder="pat@example.com" [formControl]="email" required autocomplete="" />
                <mat-error style="color: #CF021B" *ngIf="email.invalid">{{ getErrorMessage(email) }}</mat-error>
            </mat-form-field>

            <!-- Field password-->
            <mat-form-field appearance="fill">
                <mat-label style="color: #AA8F66">Entrer votre mot de passe </mat-label>
                <input  matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required autocomplete="current-password"/>

                <!-- Password visible-->
                <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                </button>
                <!-- end password visible -->

                <mat-error style="color: #CF021B" *ngIf="password.invalid">{{getErrorMessage(password)}}</mat-error>
            </mat-form-field>

            <!-- Button login-->
            <button mat-raised-button>
                <div class="submit-btn">
                    <mat-spinner [diameter]="20" *ngIf="showLoader"></mat-spinner> 
                    <span>CONNEXION</span>
                </div>
            </button>

            <p-button label="Mot de passe oublié" styleClass="p-button-link" routerLink="/reset-password"></p-button>

        </mat-card>
    </form>
</div>
