<div class="card">
  <div class="grid">
    <div class="col-12">
      <app-galleria></app-galleria>
    </div>
  </div>

  <div class="grid" *ngIf="user.id === 0">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="grid" *ngIf="user.id !== 0">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
    <div class="col">
      <router-outlet></router-outlet>
    </div>
    <div class="col">
      <app-panier></app-panier>
    </div>
  </div>
</div>