<div class="card">
  <div class="grid">
    <div class="col-4">
        <app-navigations></app-navigations>
    </div>
    <div class="col-4">
      <router-outlet></router-outlet>
    </div>
    <div class="col-4">
      <div *ngIf="(user|async)">
        <app-panier *ngIf="currentRoute.url.includes('/nba')"></app-panier>
        <app-football-panier *ngIf="(currentRoute.url.includes('/foot') || currentRoute.url === '/' || currentRoute.url.startsWith('/?'))"></app-football-panier>
      </div>
      <app-video></app-video>
    </div>
  </div>
</div>