<div class="card">
  <div class="p-grid">
    <!-- #region listParis -->
    <div class="p-col-12" *ngIf="user.id === 0">
      <app-galleria></app-galleria>
      <router-outlet></router-outlet>
    </div>
    <!-- #endergion -->

    <!-- #region listParis -->

    <div class="p-col-12 p-md-7" *ngIf="user.id !== 0">
      <app-galleria></app-galleria>
      <router-outlet></router-outlet>
    </div>
    <!-- #endergion -->

    <!-- #region panier -->
    <div class="p-col-12 p-md-5" *ngIf="user.id !== 0">
      <app-galleria></app-galleria>
      <app-panier></app-panier>
    </div>
    <!-- #endregion -->
  </div>
</div>