.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #AA8F66;
}



.example-card {
  width: 400px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.mat-form-field{
    width: 90%;
    margin: 15px;
}

.mat-raised-button{
    width: 90%;
}

.sign {
  padding-top: 40px;
  color: #8C55AA;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
}

/*.login100-form-title {
  font-weight: bold;
  font-size: 39px;
  color: #333333;
}*/

.mat-raised-button{
  background-color: #CF021B;
  background-position: center;
  background-size: cover;
  border: 2px;
  color : white;
  border-radius: 12px;
}

.mat-raised-button:disabled {
  color : #CF021B;
}

.submit-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mat-spinner {
  margin-right: 10px;
}

:host /deep/ .mat-raised-button:disabled .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #CF021B;
}

:host /deep/ .mat-progress-spinner circle, .mat-spinner circle {
  stroke: white;
}


.logo {
  display: flex;
  justify-content: center;
  /*padding-top: 15px;*/
  /* padding-bottom: 8px; */
  align-items: center;
  width: 200px;
  /* border-bottom: 1px solid #c3c3c3; */
}

.logo img {
  height: 60px; 
  width: auto;
} 
