<div class="custom-card grid flex justify-content-center menu">
    <div *ngIf="(matches)">
        <div class="grid">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        Nombre total de matches: <div>{{matches.length}}</div>
        Scheduled : <div>{{scheduled}}</div>
        Canceled: <div>{{canceled}}</div>
        Final: <div>{{final}}</div>
        Hightest Home: <div>{{hightestOddsHome.odds}} gameID: {{hightestOddsHome.gameID}}</div>
        Hightest Away: <div>{{hightestOddsAway.odds}} gameID: {{hightestOddsAway.gameID}}</div>
        Closed: <div>{{betting.closed}}</div>
        Open: <div>{{betting.open}}</div>

        <div *ngFor="let participation of participationTable">
            <div>{{participation.team}} {{participation.participation}}</div>
        </div>
    </div>
</div>