<div class="custom-card grid flex justify-content-center">
  <div class="col-12 h2 text-center">Panier</div>
  <p-scrollPanel [style]="{ width: '100%', height: '634px' }">
    <div *ngIf="myBet | async as bets; else loading">
      <div class="mb-2 custom-card">Vous verrez ici les paris auxquelles vous avez participé qui n'ont pas encore été colléctés</div>
      <div *ngFor="let bet of bets" class="product-item">
        <div class="mb-2 custom-card p-fluid" *ngIf="bet.collected !== true">
          <div class="">
            Competition series: {{ bet.match_info.competition }}
          </div>
          <div class="">
            {{ bet.match_info.home_team }} - {{ bet.match_info.away_team }}
          </div>
          <p-divider></p-divider>
          <div class="grid">
            <div class="col-4">
              <p-knob
                textColor="black"
                [strokeWidth]="5"
                rangeColor="SlateGray"
                [(ngModel)]="bet.multiplicator"
                [readonly]="true"
                max="5"
              ></p-knob>
            </div>
            <div class="col">
              <div class="block">
                <span class="font-bold">Montant:</span>
                {{ bet.amount_of_bets.toFixed(2) }} BET
              </div>
              <div class="block">
                <span class="font-bold">Gains potentiels:</span>
                {{ (bet.amount_of_bets * bet.multiplicator).toFixed(2) }} BET
              </div>
              <div class="block">
                <span class="font-bold">Mise sur:</span>
                {{
                  bet.bet_type.id === '1'
                    ? bet.match_info.home_team
                    : bet.bet_type.id === '2'
                    ? bet.match_info.away_team
                    : 'Match nul'
                }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-scrollPanel>
</div>

<ng-template #loading>
  <app-skeleton-loading></app-skeleton-loading>
</ng-template>
<!-- #endregion -->
