<div class="page p-d-flex p-jc-center p-ai-center">
  <div class="container">
    <p-card class="content">
      <div #logo class="logo p-mb-3">
        <img alt="Logo" src="/src/assets/images/logo.png" />
      </div>

      <mat-form-field appearance="fill" class="p-col-12">
        <mat-label style="color: #aa8f66">Entrez votre adresse mail</mat-label>
        <input
          matInput
          placeholder="Pat@example.com"
          [formControl]="email"
          required
          autocomplete=""
        />
        <mat-error style="color: #cf021b" *ngIf="email.invalid">{{
          getErrorMessage(email)
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="p-col-6">
        <mat-label style="color: #aa8f66"
          >Entrez votre nouveau mot de passe</mat-label
        >
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          [formControl]="password"
          required
          autocomplete=""
        />

        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>

        <mat-error style="color: #cf021b" *ngIf="password.invalid">{{
          getErrorMessage(password)
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="p-col-6">
        <mat-label style="color: #aa8f66"
          >Confirmez votre nouveau mot de passe</mat-label
        >
        <input
          matInput
          [type]="hideConfirm ? 'password' : 'text'"
          [formControl]="confirmPassword"
          required
          autocomplete=""
        />

        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hideConfirm = !hideConfirm"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideConfirm"
        >
          <mat-icon>{{
            hideConfirm ? 'visibility_off' : 'visibility'
          }}</mat-icon>
        </button>

        <mat-error style="color: #cf021b" *ngIf="confirmPassword.invalid">{{
          getErrorMessage(confirmPassword)
        }}</mat-error>
      </mat-form-field>

      <div class="p-col-12 p-grid p-d-flex p-jc-evenly p-mt-2">
        <button mat-raised-button class="p-col-5" type="button" routerLink="/">
          <div class="submit-btn">
            <!-- <mat-spinner [diameter]="20" *ngIf="showLoader"></mat-spinner> -->
            <span>RETOUR</span>
          </div>
        </button>
        <button
          mat-raised-button
          class="p-col-5"
          type="submit"
          (click)="onSubmit()"
        >
          <div class="submit-btn">
            <!-- <mat-spinner [diameter]="20" *ngIf="showLoader"></mat-spinner> -->
            <span>Changer le mot de passe</span>
          </div>
        </button>
      </div>
    </p-card>
  </div>
</div>
