<div class="grid">
  <div class="col flex justify-content-center">
    <div class="container">
      <form ngForm [formGroup]="form" (submit)="onSubmit()">
        <!--[formGroup]="confirmationForm"-->

        <div class="h3">Encore une dernière étape</div>
        <div>Veuillez entrer votre nouveau mot de passe.</div>

        <input
                formControlName="email"
                [disabled]="true"
                autocomplete=""
                placeholder="Pat@example.com"
                required
        />

        <mat-error *ngIf="form.controls.email.invalid && form.controls.email.dirty" style="color: #cf021b">
          {{getErrorMessage(form.controls.email)}}
        </mat-error>

        <input
                placeholder="Votre nouveau mot de passe"
                formControlName="password"
                required
                autocomplete=""
                type="password"
        />
        <mat-error style="color: #cf021b" *ngIf="form.controls.password.invalid && form.controls.password.dirty">{{
          getErrorMessage(form.controls.password)
          }}</mat-error>

        <input
                *ngIf="form.controls.password.valid"
                placeholder="Confirmez le mot de passe"
                formControlName="confirmPassword"
                required
                autocomplete=""
                type="password"
        />
        <mat-error style="color: #cf021b" *ngIf="form.controls.confirmPassword.invalid && form.controls.confirmPassword.dirty">
          {{getErrorMessage(form.controls.confirmPassword)}}
        </mat-error>

        <button pButton [disabled]="form.invalid">Réinitialiser le mot de passe</button>
      </form>
    </div>
  </div>
</div>

