$primaryColor: #03a9f4;
$primaryDarkColor: #0277bd;
$primaryLightColor: #81d4fa;
$accentColor: #ffc107;
$accentDarkColor: #ff8f00;
$accentLightColor: #ffe082;
$accentTextColor: #212121;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;
$darkMenuRouterLinkActiveColor: #ffc107;
$lightMenuRouterLinkActiveColor: #03a9f4;
$horizontalLightMenuRouterLinkActiveColor: #ffc107;

@import '../../sass/layout/_layout';
