$primaryColor: #607d8b;
$primaryDarkColor: #37474f;
$primaryLightColor: #b0bec5;
$accentColor: #8bc34a;
$accentDarkColor: #558b2f;
$accentLightColor: #c5e1a5;
$accentTextColor: #ffffff;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;
$darkMenuRouterLinkActiveColor: #8bc34a;
$lightMenuRouterLinkActiveColor: #8bc34a;
$horizontalLightMenuRouterLinkActiveColor: #8bc34a;

@import '../../sass/layout/_layout';
