$primaryColor: #795548;
$primaryDarkColor: #4e342e;
$primaryLightColor: #bcaaa4;
$accentColor: #8bc34a;
$accentDarkColor: #558b2f;
$accentLightColor: #c5e1a5;
$accentTextColor: #ffffff;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;
$darkMenuRouterLinkActiveColor: #8bc34a;
$lightMenuRouterLinkActiveColor: #795548;
$horizontalLightMenuRouterLinkActiveColor: #8bc34a;

@import '../../sass/layout/_layout';
