<div class="flex justify-content-center pt-4">
    <p-galleria [value]="images" [containerStyle]="{'max-width': '100%'}" [numVisible]="5"
        [circular]="true" [showThumbnails]="false" [showIndicators]="true" [changeItemOnIndicatorHover]="true"
        [autoPlay]="true" [transitionInterval]="2000">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.previewImageSrc" style="width: 100%; display: block;height: 349px;border-radius: 15px;" />
        </ng-template>
    </p-galleria>
</div>