<div class="box">
  <div class="grid p-flex-column">
    <div class="col">
      <div class="box">

        <div class="flex justify-content-around mb-4">
          <button pButton pRipple type="button" icon="pi pi-angle-left" (click)="clickPreviousOrNext('previous')"
                  class="p-button-rounded"></button>
          <p-calendar #calendar [dateFormat]="'dd M yy'" [showIcon]="true" [(ngModel)]="date"
                      (onSelect)="onSelectedDate($event)" inputId="basic"></p-calendar>
          <button pButton pRipple type="button" icon="pi pi-angle-right" (click)="clickPreviousOrNext('next')"
                  class="p-button-rounded"></button>
        </div>

        <cdk-virtual-scroll-viewport [itemSize]="100" class="example-viewport">
          <!-- Skeleton -->
          <div *ngIf="loading">
            <app-skeleton-loading></app-skeleton-loading>
          </div>

          <div *cdkVirtualFor="let match of matches">
            <div class="mb-2 custom-card">
              <div class="grid justify-content-center mt-2">
                <div class="col">
                  <img alt="Image" src="assets/images/bracelet.jpg" class="team-img" />
                  <div class="mt-3 flex justify-content-center">{{ match.HomeTeam }}</div>
                </div>

                <div class="col">
                  <div class="grid flex justify-content-center">
                    <span>{{ customDate.getDateTime(match.DateTime, 'time') }}</span>
                  </div>
                  <div class="block flex justify-content-center">
                    <p-tag [rounded]="true" [severity]="getSeverity(match)">{{ match.Status.toLowerCase() }}</p-tag>
                  </div>
                  <div class="grid flex justify-content-center mt-2">
                        <span [class]="'product-badge'">{{
                          customDate.getDateTime(match.Day, 'date')
                          }}</span>
                  </div>
                  <div class="flex justify-content-center">
                    {{match.HomeTeamScore}} - {{match.AwayTeamScore}}
                  </div>
                </div>

                <div class="col">
                  <img alt="Image" src="assets/images/bracelet.jpg" class="team-img" />
                  <div class="mt-3 flex justify-content-center">{{ match.AwayTeam }}</div>
                </div>
              </div>
              <div class="grid justify-content-center mt-2">
                <p-selectButton #match [disabled]="!match.IsBettingClosed" uncheck="true" (onChange)="changeTest()" (onOptionClick)="onClick($event)"
                                [options]="getMatchCotes(match)" optionLabel="name" optionValue="value"></p-selectButton>
              </div>
            </div>
          </div>

          <!-- fin eto -->
        </cdk-virtual-scroll-viewport>

      </div>
    </div>
  </div>
</div>