<div class="box">
  <div class="grid p-flex-column">
    <div class="col">
      <div class="box">

        <div class="h2 text-center custom-card">Basketball</div>
        <div style="border-radius: 5px; padding: 5px; background: rgba(255,255,255,0.5);" class="flex justify-content-around mb-2">
          <button pButton pRipple type="button" icon="pi pi-angle-left" (click)="clickPreviousOrNext('previous')"
                  class="p-button-rounded"></button>
          <p-calendar #calendar [dateFormat]="'dd M yy'" [showIcon]="true" [(ngModel)]="date"
                      (onSelect)="onSelectedDate($event)" inputId="basic"></p-calendar>
          <button pButton pRipple type="button" icon="pi pi-angle-right" (click)="clickPreviousOrNext('next')"
                  class="p-button-rounded"></button>
        </div>
        <cdk-virtual-scroll-viewport [itemSize]="100" class="example-viewport">

          <div *ngIf="(matches|async) as matches; else loading">

              <div *ngIf="matches; else loading">
                <div *ngIf="matches.length!==0; else noMatches">
                  <div *cdkVirtualFor="let customMatch of matches" class="custom-card mb-2">
                    <app-nba-matches-element [oneMatch]="customMatch"></app-nba-matches-element>
                  </div>
                </div>
              </div>

          </div>

          <ng-template #noMatches>
            <div class="custom-card text-center">
              Il n'y a aucun match pour le jour, essayez une autre date.
            </div>
          </ng-template>
          <ng-template #loading>
            <app-skeleton-loading></app-skeleton-loading>
          </ng-template>

        </cdk-virtual-scroll-viewport>

      </div>
    </div>
  </div>
</div>