<div class="p-col">
    <div class="box">
        <div id="instructions">
            <video id="my_video_1" class="video-js vjs-default-skin" width="100%" height="320"
                   controls preload="none"
                   poster='https://res.cloudinary.com/dy528ddbe/image/upload/v1620765937/funvncl4dphvbpjtmcnl.png'
                   data-setup='{ "aspectRatio":"600:190", "playbackRates": [1, 1.5, 2] }'>
                <source
                        src="https://res.cloudinary.com/dy528ddbe/video/upload/v1620765172/isve3ghvre8jsgdkhfgu.mp4"
                        type='video/mp4' />
                <!--<source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' />-->
            </video>
        </div>
    </div>
</div>
