.page-container{
  background: url("src/assets/images/page-background.jpg") no-repeat fixed;
  background-size: cover;
}

.content{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}