<p-toast position="bottom-left"></p-toast>

<div class="grid">
  <div class="col-12">
    <div style="text-align: center">
      <h5>Connectez-vous</h5>
    </div>
  </div>
  <div class="col">
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <div class="col">
        <input [formControl]="email" style="width:100%" aria-describedby="email-help" class="{{
          email.invalid && email.value != '' ? 'ng-invalid ng-dirty' : ''
        }}" id="email" pInputText placeholder="Adresse email" required="required" type="text" />
        <small *ngIf="email.invalid && email.value != ''" class="p-error" id="email-help">
          Email invalid
        </small>
      </div>
      <div class="col">
        <p-password [feedback]="false" [formControl]="password" [toggleMask]="true" class="{{
          password.invalid && password.value != ''
            ? 'ng-invalid ng-dirty'
            : ''
        }}" id="password" placeholder="Mot de passe" required="true"></p-password>
        <small *ngIf="password.invalid && password.value != ''" class="p-error" id="password-help">
          Password invalid
        </small>
      </div>

      <div *ngIf="showButtonAndNoSpinner" class="col">
        <p-button [disabled]="loginForm.invalid" icon="pi pi-sign-in" iconPos="left" label="Connexion" type="submit">
        </p-button>
      </div>

      <div *ngIf="!showButtonAndNoSpinner" style="width:100%" class="col">
        <div style="width: fit-content; margin: auto">
          <p-progressSpinner [style]="{ width: '30px', height: '30px' }" animationDuration=".5s" fill="#EEEEEE"
            strokeWidth="8" styleClass="custom-spinner"></p-progressSpinner>
        </div>
      </div>
    </form>
    <div class="col">
      <p-button (onClick)="navigateToRegister()" label="Inscrivez vous ici" styleClass="p-button-secondary"
        type="button"></p-button>
    </div>
    <div class="col" style="width:100%">
      <p-button (onClick)="navigateToForgotPasword()" label="Mot de passe oublié" styleClass="p-button-link"
        type="button"></p-button>
    </div>
  </div>
</div>