<div class="container">
    <div class="h2 text-center custom-card">Football</div>

    <div style="border-radius: 5px; padding: 5px; background: rgba(255,255,255,0.5);" class="flex justify-content-around mb-2">
        <button pButton pRipple type="button" icon="pi pi-angle-left" (click)="clickPreviousOrNext('previous')"
                class="p-button-rounded"></button>
        <p-calendar #calendar [dateFormat]="'dd M yy'" [showIcon]="true" [(ngModel)]="date"
                    (onSelect)="onSelectedDate($event)" inputId="basic"></p-calendar>
        <button pButton pRipple type="button" icon="pi pi-angle-right" (click)="clickPreviousOrNext('next')"
                class="p-button-rounded"></button>
    </div>

    <div class="custom-card mb-2">
        <div *ngIf="activeCompetition|async as competition; else loading" class="text-center">
            Début: {{customDate.getDateTime(convertToDate(competition.currentSeason.startDate), 'date')}} - Fin: {{customDate.getDateTime(convertToDate(competition.currentSeason.endDate), 'date')}}
        </div>
    </div>

    <cdk-virtual-scroll-viewport [itemSize]="100" class="example-viewport">
        <div *ngIf="matches|async as matches; else loading">
            <div *ngIf="matches.length === 0" class="text-center custom-card">
                Il n'y a aucun match pour le jour, essayez une autre date.
            </div>

            <div *cdkVirtualFor="let match of matches" class="block content">
                <app-football-bet-element [match]="match"></app-football-bet-element>
            </div>
        </div>
    </cdk-virtual-scroll-viewport>
</div>

<ng-template #loading>
    <app-skeleton-loading></app-skeleton-loading>
</ng-template>