<div class="page p-d-flex p-jc-center p-ai-center">
    <div class="container">
        <p-card class="content">

            <div #logo class="logo p-mb-3" >
                <img src="../../../../assets/images/logo.png">
            </div>

            <mat-form-field appearance="fill" class="p-col-12">
                <mat-label style="color: #AA8F66">Entrez votre adresse mail</mat-label>
                <input matInput placeholder="Pat@example.com" [formControl]="email" required autocomplete="" />
                <mat-error style="color: #CF021B" *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
            </mat-form-field>

            <div class="p-col-12 p-grid p-d-flex p-jc-evenly p-mt-2">
                <button mat-raised-button class="p-col-5" type="button" routerLink="/">
                    <div class="submit-btn">
                        <!-- <mat-spinner [diameter]="20" *ngIf="showLoader"></mat-spinner> -->
                        <span>RETOUR</span>
                    </div>
                </button>
                <button mat-raised-button class="p-col-5" type="submit" (click)="onSubmit()">
                    <div class="submit-btn">
                        <!-- <mat-spinner [diameter]="20" *ngIf="showLoader"></mat-spinner> -->
                        <span>Reinitialiser le mot de passe</span>
                    </div>
                </button>
            </div>

        </p-card>
    </div>
</div>
