<div class="page p-d-flex p-jc-center p-ai-center">
    <form #form="ngForm" class="container" ngForm>
        <p-card class="content">

            <div #logo class="logo p-mb-3">
                <img alt="Logo Sport Wager" src="/assets/images/logo.png">
            </div>

            <mat-form-field appearance="fill" class="p-col-12">
                <mat-label style="color: #AA8F66">Entrez votre adresse mail</mat-label>
                <input [formControl]="email" autocomplete="" matInput placeholder="Pat@example.com" required/>
                <mat-error *ngIf="email.invalid" style="color: #CF021B">{{ getErrorMessage(email) }}</mat-error>
            </mat-form-field>

            <div class="p-col-12 p-grid p-d-flex p-jc-evenly p-mt-2">
                <button class="p-col-5" mat-raised-button routerLink="/" type="button">
                    <div class="submit-btn">
                        <!-- <mat-spinner [diameter]="20" *ngIf="showLoader"></mat-spinner> -->
                        <span>RETOUR</span>
                    </div>
                </button>
                <button (click)="onSubmit()" class="p-col-5" mat-raised-button type="submit">
                    <div class="submit-btn">
                        <!-- <mat-spinner [diameter]="20" *ngIf="showLoader"></mat-spinner> -->
                        <span>Reinitialiser le mot de passe</span>
                    </div>
                </button>
            </div>

        </p-card>
    </form>
</div>
