<div class="p-m-6">
    <p-card class="p-m-4">
        <h5>Confirmez votre compte</h5>
        <div class="p-fluid p-formgrid p-grid">

            <div class="p-field p-col-12 p-md-6">
                <label for="nom">Email</label>
                <input id="nom" type="text" pInputText [formControl]="email"/>
            </div>

            <div class="p-field p-col-12 p-md-6">
                <label for="prenom">Code de confirmation</label>
                <input id="prenom" type="text" pInputText [formControl]="code"/>
            </div>

            <div class="p-col-12 p-grid">
                <div class="p-col-6">
                    <button pButton pRipple type="submit" label="Confirmer" class="p-button-rounded" (click)="onSubmit()"></button>
                </div>
            </div>

        </div>
    </p-card>
</div>
