<div [matMenuTriggerFor]="menu" class="user-menu p-ai-center">
  <button class="p-button-rounded p-button-secondary" label="{{ user?.id != 0 ? user?.firstname + ' ' : 'Connexion ' }}"
    pButton pRipple type="button"></button>
</div>

<mat-menu #menu="matMenu" (click)="$event.stopPropagation()" overlapTrigger="false"
  style="border: black solid">
  <app-anonymous-user-menu (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()"
    *ngIf="user?.id === 0"></app-anonymous-user-menu>
  <app-account-menu (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()" *ngIf="user?.id !== 0">
  </app-account-menu>
</mat-menu>