<!-- <button mat-button [matMenuTriggerFor]="menu"> -->
<div [matMenuTriggerFor]="menu" class="user-menu">
    <div *ngIf="user" class="user-image">
        <img *ngIf="user?.image" src="{{ user.image }}"/>
        <span  style="color:white" *ngIf="!user?.image" >{{ defaultImage }}</span>
    </div>


    <p-avatar *ngIf="!user" icon="pi pi-user" styleClass="p-mr-2" size="large" shape="circle"></p-avatar>
    <span>{{ user ? user?.firstname : user?.lastname }}</span>
    <mat-icon>
        arrow_drop_down
    </mat-icon>
</div>
<!-- </button> -->
<mat-menu  #menu="matMenu">
    <button *ngIf="!user" mat-menu-item (click)="logout()">
        <mat-icon>how_to_reg</mat-icon>
        <span>S'inscrire</span>
    </button>
    <button *ngIf="!user" mat-menu-item (click)="login()">
        <mat-icon>login</mat-icon>
        <span>Se connecter</span>
    </button>
    <button *ngIf="user" mat-menu-item (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>Déconnexion</span>
    </button>
</mat-menu>
