<div style="width: 270px; margin: auto">
  <p-card
    [style]="{ margin: 'auto', width: '260px' }"
    header="{{ user.lastname }}"
    styleClass="p-card-shadow"
    subheader="{{ user.firstname }}"
  >
    <div class="p-d-flex p-jc-center p-grid">
      <img
        alt="Card"
        class="custom-avatar"
        src="assets/images/default-avatar.png"
      />
    </div>
    <ng-template pTemplate="body">
      <div class="p-d-flex p-mt-2 p-flex-column">
        <button
          (click)="goToProfile()"
          class="p-button-rounded p-button-info p-mb-2"
          icon="pi pi-user"
          label="Voir le profile"
          pButton
          pRipple
          type="button"
        ></button>
        <button
          (click)="logout()"
          *ngIf="showButtonLogoutAndNoLoader"
          class="p-button-rounded p-button-danger p-button-outlined"
          icon="pi pi-times"
          label="Déconnexion"
          pButton
          pRipple
          type="button"
        ></button>

        <div *ngIf="!showButtonLogoutAndNoLoader" class="p-fluid p-jc-center">
          <div style="width: fit-content; margin: auto">
            <p-progressSpinner
              [style]="{ width: '30px', height: '30px' }"
              animationDuration=".5s"
              fill="#EEEEEE"
              strokeWidth="8"
              styleClass="custom-spinner"
            ></p-progressSpinner>
          </div>
        </div>
      </div>
    </ng-template>
  </p-card>
</div>
