<footer>
    <div class="grid container">
        <div class="col">
            <div class="h3 title">Informations</div>
            <div>
                <ul>
                    <li><a href="#">A propos</a></li>
                    <li><a href="#">A propos</a></li>
                    <li><a href="#">A propos</a></li>
                    <li><a href="#">A propos</a></li>
                    <li><a href="#">A propos</a></li>
                </ul>
            </div>

        </div>
        <div class="col">
            <div class="h3 title">Paris</div>
            <div>
                <ul>
                    <li><a href="#">A propos</a></li>
                    <li><a href="#">A propos</a></li>
                    <li><a href="#">A propos</a></li>
                    <li><a href="#">A propos</a></li>
                    <li><a href="#">A propos</a></li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="h3 title">Autres</div>
            <div>
                <ul>
                    <li><a href="#">A propos</a></li>
                    <li><a href="#">A propos</a></li>
                    <li><a href="#">A propos</a></li>
                    <li><a href="#">A propos</a></li>
                    <li><a href="#">A propos</a></li>
                </ul>
            </div>
        </div>
    </div>
    <p-divider></p-divider>
    <div class="flex justify-content-end">1</div>
</footer>