<footer>
    <div class="grid container">
        <div class="col">
            <div class="h3 title">Informations</div>
            <div>
                <ul>
                    <li><a href="javascript:void(0)">A propos</a></li>
                    <li><a href="https://www.joueurs-info-service.fr/">Service joueur info</a></li>
                    <li><a href="javascript:void(0)" (click)="goTo('/register')">Connexion</a></li>
                    <li><a href="javascript:void(0)" (click)="goTo('/register')">Inscription</a></li>
                </ul>
            </div>

        </div>
        <div class="col">
            <div class="h3 title">Paris</div>
            <div>
                <ul>
                    <li><a href="javascript:void(0)" (click)="goTo('/wager/football')">Football</a></li>
                    <li><a href="javascript:void(0)" (click)="goTo('/stats/football')">Statistiques Football</a></li>
                    <li><a href="javascript:void(0)" (click)="goTo('/wager/basketball')">Basketball</a></li>
                    <li><a href="javascript:void(0)" (click)="goTo('/stats/basketball')">Statistiques Basketball</a></li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="h3 title">Autres</div>
            <div>
                <ul>
                    <li><a href="javascript:void(0)" (click)="goTo('/profile')">Mon profile</a></li>
                    <li><a href="#">Aide</a></li>
                    <li><a href="mailto:sport-wager@gmail.com">Nous Contacter</a></li>
                </ul>
            </div>
        </div>
    </div>
    <p-divider></p-divider>
    <div class="flex justify-content-end mt-3">
        <div class="flex justify-content-around mb-3 mr-3">
            <img class="m-2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSv78BxId4qdESk8u2OUmIzwQwAFv8IKLCvOw&usqp=CAU" height="100px"/>
            <img class="m-2" src="https://www.lescasinosenligne.ca/img/site/~840/320/protection-des-mineurs-1.jpg" height="100px"/>
        </div>
    </div>
</footer>